body {
  background: linear-gradient(to bottom, #f2f0f1 0%,#f2f0f1 30%,#838f8f 30%, #838f8f 100%);
  color: black;
  font-family:d-din ;
  font-size: 18px;
  margin: 0;
  min-height: 100vh;
}
.name{
  text-align: center;
  position: relative;
  bottom: -30px;
  font-family: d-din;
  font-size: 28px;
  text-transform: uppercase; 
  display: block;
  cursor: pointer;
}

.name:link{
  color: black;
  text-decoration: none;
}
.name:visited{
  color: black;
}

.aboutMe {
  margin: 0 auto;
  margin-top: 100px;
  width: 50%;
}

table {
  border-collapse: separate;
  padding: 12px;
  width: 52%;
  margin: 0 340px;
  margin-top: 100px;
  border-spacing: 10px;
}

th{
  background-color: #F5C269;
  border: 2px solid #f2f0f1;
  padding: 10px;
  text-align: center;
  font-size: 12xpx;
  cursor: pointer;       
}
th a {
  display: block;
}

.link:link {
  color: black;
  text-decoration: none;
}

.link:visited{
  color: black;
}
th:hover{
  background-color: #838f8f;
}

@font-face {
  font-family: d-din;
  src: url(../portfolioSite/fonts/D-din.otf)
}
@font-face {
  font-family: d-din-bold;
  src: url(../portfolioSite/fonts/D-DIN-Bold.otf.otf)
}
@font-face {
  font-family: d-dinexp-bold;
  src: url(../portfolioSite/fonts/D-DINExp-Bold.otf.otf)
}
