body {
  background: linear-gradient(to bottom, #f2f0f1 0%,#f2f0f1 45%,#DDDDDD 45%, #DDDDDD 100%);
  color: black;
  font-family:d-din ;
  font-size: 18px;
  margin: 0;
  min-height: 100vh;
}

.name {
  position: relative;
  bottom: -36px;
  right: -591px;
  font-family: d-din;
  font-size: 28px;
  text-transform: uppercase; 
  display: block;
  cursor: pointer;
  width: 20%;
  height: 20%;
}

.name:link {
  color: black;
  text-decoration: none;
}

.name:visited {
  color: black;
}

.aboutMe {
  margin: 0 auto;
  margin-top: 100px;
  width: 50%;
}

table {
  border-collapse: separate;
  padding: 12px;
  width: 52%;
  margin: 0 340px;
  margin-top: 70px;
  border-spacing: 10px;
}

th { 
  background-color: #efd548;
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  font-size: 12xpx;
  cursor: pointer;       
}

th a {
  display: block;
}

.link:link {
  color: black;
  text-decoration: none;
}

.link:visited {
color:black;
}

th:hover {
  background-color: black;
}

.link:hover {
  color:white;
}

@font-face {
  font-family: d-din;
  src: url(../portfolioSite/fonts/D-din.otf)
}

@font-face {
  font-family: d-din-bold;
  src: url(../portfolioSite/fonts/D-DIN-Bold.otf.otf)
}

@font-face {
  font-family: d-dinexp-bold;
  src: url(../portfolioSite/fonts/D-DINExp-Bold.otf.otf)
}
